@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TwitterChirp';
  src:
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2)
      format('woff2'),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff)
      format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: 'TwitterChirp';
  src:
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2)
      format('woff2'),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff)
      format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: 'TwitterChirp';
  src:
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2)
      format('woff2'),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff)
      format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@layer base {
  html {
    font-family:
      'TwitterChirp',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
  }

  body {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #c9c9c9;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #87898c;
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  #root {
    margin-inline: auto;
    width: 100%;
    max-width: 420px;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
  }
}
